*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-size: 62.5%;
}

body{
font-size: 16px;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor_galeria{
    /**Ya se pueden borrar el css Grid debido a que el Js con ayuda de una libreria lo hacen*/
    display: grid;
    grid-template-columns: repeat(auto-fit, 23rem); /**asignamos las columnas "auto-fit"para tomar todo el espacio disponible y "15rem" para indicarle el tamañano*/
    grid-auto-rows: 15rem;/**definir el tamaño de cada fila*/
    /*width: 80%;/**asignamos un ancho a la clase padre
    /*justify-content: center; /**Para centra el contenido dentro*/
    /*gap: 1rem; /**Espacio entre los elementos*/
    /*max-width: 1200px;*/
    /*margin-left: auto; /**Definimos una margen para cada lado automatica*/
    /*margin-right: auto;*/
    justify-content: center;
    margin: 0 auto;
}

.item{
    /*grid-column: span 2; /**266px + 10px = 274px*/ /**Le decimos que tome dos columnas*/
    transition: 0.5s filter;
    width: 23rem;
    margin-bottom: 4rem;
    cursor: zoom-in;
    background-color: lightgray;

}

.item img{
    border-radius: 1rem;
}
.item:hover{
    filter: brightness(0.5); /**Filtro de brillo*/

}