:root{
    --principal:rgb(232, 59, 59); 
    --texto: #545B6B;
    --opcional: #FF5773; 
    --background: #dad5d6;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;    
    font-size: 1.6rem;
    line-height: 2;
    color: var(--texto);
}

figure{
    margin: 0 !important;
}

/* Animaciones  */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/* Inicio Paginá */

.header{
    /* background-color: var(--opcional);  */
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(255,87,115,1) 44%, rgba(232,59,59,1) 100%);
    display: flex;
    height: 8rem;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: all ease .9s ;
    -o-transition: all ease .9s;
    transition: all ease .9s;
}

 
.header ul{
    display: flex;
    height: inherit;
    list-style-type: none;
}
  
.header ul li{
    height: inherit;    
}
  
.header a{
    color:white;
    font-size: 1.8rem;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    border-radius:0.5rem;
}

/*.header button{
  border-radius:0.5rem;
}*/

.contenedor{
    width: 100%;
    margin:  5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: inherit;
    flex-wrap: inherit; */
}

li a:hover {
    color:var(--principal);
    background: white;
    
}  

.titulo{
  color: var(--opcional); 
  text-align: center;
  font-size: 2rem;  
}

.menu-fixed{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  box-shadow: 0rem 0.4rem 0.3rem rgba(0,0,0,.5);
  -webkit-transition: all ease 1s ;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

.header .boton {
  background-color: #FFFFFF;
  color: var(--opcional);
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  /* margin-top: 3rem;     */
  text-align: center;
  border: none; 
}

.header .boton:hover{
  background: yellowgreen;
  color:#545B6B;
}
  
  /* CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 59rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 62rem;
  }

  .carousel-caption{
      bottom: 28rem !important; 
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .marketing h2 {
    font-weight: 400;
  }
  
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  .marketing button{
    border: none; 
    background: none; 
    outline: none;
  }

  .marketing button:focus{
    outline: 0 !important;
  } 

.hero{
    height: 100vh;
    min-height: 60rem;
    background-color: #dad5d6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Questrial', sans-serif;
    color: white;
}

  
.title{
  color: var(--opcional);
  text-align: center;
}

.title button {
  color:#FF5773;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 3rem;
  margin-top: 3rem;    
  text-align: center;
  border: none;    
  flex: 0 0 100%;
}

.title button:hover{
  color:#545B6B;
}


.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* Comentarios */

#Especialistas{
  /* background: var(--background); */
  height: 55rem;
  display: flex;
  align-items: center;
}

#Especialistas h1{
  margin: 0;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 4rem;
  color: var(--opcional);
  font-weight: 400;
  line-height: 2;
  letter-spacing: .6rem;
  margin: 3rem;
}

#Especialistas h2{
  margin: 0;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 2rem;
  color: var(--texto);
  margin: 3rem;
}

.col{
  text-align: center;
  margin: 5rem;
}

.svg{
  width: 100%;
  max-height: 15rem;
  margin-bottom: 2rem; 
}

.counter{
  font-size:2.5rem;
  margin:3rem 3rem 1rem 3rem;
  font-weight:bold;
  text-align:center;
  background-color: var(--opcional);
  border-radius: 2.5rem;
}

/* Carro */

#Comentarios h1{
  margin: 0;
  padding: 2.5rem;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 4rem;
  color: var(--opcional);
  background-color: #2a2a2a;
}

.Carro {
  background-color: #2a2a2a; /* rgb(33, 36, 33); */
  display: flex;
  align-items: center;  
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Ventana {
  overflow: hidden;
  width: 100%;
  padding: 0.8rem;
}

.project-container {
  left: 0;
  position: relative;
  width: 400rem;
}

.project-container li {
  display: inline-block;
}
.project-container button {
  background: none;
  border: none;
  padding: 0;
}

.project-container button:focus-within{
  outline: 0.3rem solid var(--opcional);
}

.project-face {
  /* border-radius: 5px;
  border: 2px solid #000; */
  display: block;
  height: 20rem;
  margin: 0 0.8rem;
  transition: all 0.2s ease-in-out;
  /* width: 400px; */
  object-fit: cover;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.arrow {
  margin: 2rem;
  height: 6.5rem;
  transition: all 0.2s ease-in-out;
  width: 7rem;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow-left {
  background: center / contain no-repeat url(../assets/img/play-button-left.png);
  background-color: var(--opcional);
  border-radius: 70%;
}

.arrow-right {
  background: center / contain no-repeat url(../assets/img/play-button-right.png);
  background-color: var(--opcional);
  border-radius: 50%;
}

.arrow:focus{
  outline: 0.3rem solid var(--opcional);
}


.ubicacion iframe{
  display: flex;
  width:100%; 
  height:30rem;  
}

/* Redes */
 
#check { display: flex; }

.main,
.contain {
  margin: auto;
  position: fixed; /* fixed */
  top: 62rem;
  bottom: 0;
  left: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.main {
  background-color: #00BB2D ;
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 50;
}

.main:hover { background-color:var(--principal); }

.main:active {
  box-shadow: 0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.35), inset 0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.35);
  background-color: var(--opcional);  
}

.main .first {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  font-size: 4em;
  line-height: 8rem;
  text-align: center;
  color:white;
}

.first a{
  text-decoration: none;
  color: white;
  text-align: center;
}

.main .first:hover {
    color: #fafafa;
}

.contain { 
  width: 4% !important;
  z-index: 10; }

.plate {
  margin: auto;  
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  bottom: 2.5rem;
  left: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.plate i {
  width: 100%;
  font-size: 1.3em;
  line-height: 3.5rem;
  text-align: center;
  color: #faf4f2;
}

.plate:hover i { color: var(--opcional); }

.plate {
  background-color: var(--texto);         
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

#check:checked ~ .main + .contain .plate { opacity: 1; }

#check:checked ~ .main + .contain .plate:nth-of-type(1) { top: -180%; }

#check:checked ~ .main + .contain .plate:nth-of-type(2) {
  top: -60%;
  right: -130%;
}

#check:checked ~ .main + .contain .plate:nth-of-type(3) {   
    right: -130%;
    bottom: -60%;}

#check:checked ~ .main + .contain .plate:nth-of-type(4) {  bottom: -180%;}


/* footer */

.footer-style {
  padding-top: 1rem;
  background-color:var(--background);
}
footer {
color: var(--opcional);
}
footer h3 {
margin-bottom: 1rem;
  font-weight: 800;
}
footer .footer-above {
padding-top: 1rem;
background-color: var(--background);
}
footer .footer-col {
margin-bottom: 1rem;
}
footer .footer-below {
padding: 2.5rem 0;
background-color: var(--background);
}

.list-inline{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 10rem;
}

.list-inline a{
  font-size: 2rem;
  color: var(--opcional);
}

/* Nuestros servicios */

.colu .col{
  align-items: center;
}

.card{
  width: 30rem;
}

.card img{
  height: 19rem;
  width: 100%;
}
.rounded-circle:hover{
  border: 0.4rem var(--opcional) solid;
  box-shadow: .2rem .2rem .2rem .2rem var(--texto);

}

.modal-title{
font-size: 2.3rem;
color: var(--opcional);
}

.modal-body p{
  font-size: 1.5rem;
}

.modal-header{
  background-color: rgb(84, 91, 107, 0.2);
}

.modal-footer button{
  font-size: 1.6rem;
}
.hero .title{
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: justify;
}

.hero .title h1{
  text-transform: uppercase;
  font-weight: 700;
}

.hero .title ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .title .boton{
  font-size: 1.8rem;
}

.hero .boton{
  color: var(--opcional);
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;

}
.col-md-7 .lead{
  font-size: 1.5rem;
}

.col-md-7 .lead ul{
  list-style: none;
}

/**Css Servicos*/
.info-nosotros{
  margin: 1rem 5rem;
}

.card-title{
  font-size: 2rem;
}

.card-text{
  font-size: 1.5rem;
}

.text-muted{
  font-size: 1.5rem;
}

.info-nosotros p{
  color: var(--texto);
  text-align: justify;
}

/* Responsive */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 5rem;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

