:root {
  --principal: rgb(232, 59, 59);
  --texto: #545B6B;
  --opcional: #FF5773;
  --background: #dad5d6;
  --blanco: rgb(255, 255, 255);
  --negro: rgb(0, 0, 0);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS - 62.5% = 10px de 16px **/
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 2;
  color: var(--texto);
}

figure {
  margin: 0 !important;
}

/* Animaciones  */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes muestraMenu {
  /*Nos sirve para crear una animación para el menu**/
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Inicio Paginá */

.header {
  -webkit-transition: all ease .9s;
  -o-transition: all ease .9s;
  transition: all ease .9s;
}

.header nav {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
  min-height: 11vh;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 15%, rgba(255, 87, 115, 1) 44%, rgba(232, 59, 59, 1) 100%);
}

.menu, .ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  transition: 0.2s 0.1s/**la demora*/
  ;
}

.ham span {
  display: block;
  background-color: var(--blanco);
  height: .3rem;
  width: 2.8rem;
  margin: 1rem auto;
  border-radius: .2rem;
}

.ham:hover {
  transform: rotate(360deg);
}

.enlaces-menu {
  display: flex;
  padding: 0;
}

.enlaces-menu li {
  list-style-type: none;
  padding: .5rem 2rem;
  transition: 0.3;
  margin: 1rem 3rem;
}

.enlaces-menu li a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

.enlaces-menu li a:hover {
  color: var(--texto);
}

.enlaces-menu li:hover {
  color: var(--texto);
  background: rgba(255, 255, 255, 0.6);
  border-radius: .5rem;
}

.enlaces-menu.activado {
  display: flex;
  /**Se crea la clase activado para cuando damos clic*/
  animation: muestraMenu 350ms ease-in-out both/**el proposito de 'ease-in-out' quiere decir que va a iniciar lento y va a terminar lento  y 'both' quiere decir que 'opacity:0 ;' se va a mantener antes que empiece la animación y 'opacity:1 ;' se va a mantener despues de terminar la animación*/
  ;
}

/**animar las barras span*/

.br-1.animado {
  transform: rotate(-45deg) translate(-10px/*10px para la dirrección horizontal*/
  , 8px/*10px para la dirrección vertical*/
  );
}

.br-2.animado {
  opacity: 0;
}

.br-3.animado {
  transform: rotate(45deg) translate(-10px/*10px para la dirrección horizontal*/
  , -8px/*10px para la dirrección vertical*/
  );
  /**girar 45 Grados*/
}

.header .boton {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 10rem;
  background-color: #FFFFFF;
  color: var(--opcional);
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  /* margin-top: 3rem;*/
  border: none;
  border-radius: .5rem;
}

.header .boton:hover {
  background: yellowgreen;
  color: #545B6B;
}

.header a {
  margin: auto;
}

.header ul {
  margin: 1rem;
}

.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  box-shadow: 0rem 0.4rem 0.3rem rgba(0, 0, 0, .5);
  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;
}

/* CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */

.carousel h2 {
  font-size: 3rem;
}

.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 59rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 62rem;
}

.carousel-caption {
  top: 26%;
}

.card-body {
  background-color: rgb(84, 91, 107, 0.2);
}

.card-footer {
  background-color: rgb(84, 91, 107, 0.2) !important;
}

.card {
  margin-right: 0 !important;
  justify-content: center;
}

.card:hover {
  border: 0.4rem var(--opcional) solid;
  box-shadow: .2rem .2rem .2rem .2rem var(--texto);
}

.carousel .boton {
  color: var(--opcional);
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.carousel .boton:hover {
  background: yellowgreen;
  color: #545B6B;
}

.oscureser-img {
  filter: brightness(40%);
}

.carousel-control-next, .carousel-control-prev {
  opacity: .7 !important;
  font-size: 2.2rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  height: 2.2rem !important;
  width: 2.2rem !important;
}

/** Css para carosel ¿Como funciona? */

/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

#seguimiento {
  position: relative;
  margin: 8rem auto;
}

.carro {
  position: relative;
}

.tooltip_i {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: .3s ease all;
  width: 18.5em;
  opacity: 0;
  background: var(--principal);
  line-height: 2rem;
  text-align: center;
  color: var(--blanco);
  font-size: 1.4rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  /**es una transicion de abajo hacia arriba*/
  transform: translateY(10px);
}

.tooltip_i.activo {
  opacity: 1;
  transform: translateY(0px);
}

.marketing h2:hover .tooltip-box {
  display: block !important;
}

.tooltip_i::after {
  content: "";
  display: block;
  /**se agregar el triangulo que señala de donde es el texto se agrega con bordes*/
  border-top: .7rem solid var(--principal);
  border-left: .7rem solid transparent;
  /**Para darle forma al triangulo*/
  border-right: .7rem solid transparent;
  /**Para darle forma al triangulo*/
  position: absolute;
  /**lo pone encina y con este podemos debajo*/
  /**listo ahora toca decirle que muestre un poco más el triangulo, lo hacemos con: */
  bottom: -.7rem;
  /**le decimos que lo empuje de abajo hacia arriba*/
  /**Si queremos que este centrado utilizamos la funcion de "calc"*/
  left: calc(50% - .7rem);
  /**ay algo fantante y es que cuando el texto de los span"o sea de los tooltip-box" crezca la fecha no se va a centrar sola  °*/
}

.fa-info-circle {
  color: var(--principal);
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
  position: relative;
}

/* rtl:begin:ignore */

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.marketing button {
  border: none;
  background: none;
  outline: none;
}

.marketing button:focus {
  outline: 0 !important;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Questrial', sans-serif;
  color: var(--texto);
}

.title {
  color: var(--opcional);
  text-align: center;
}

.titulo {
  color: var(--opcional);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.title button {
  color: #FF5773;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  text-align: center;
  border: none;
  flex: 0 0 100%;
}

.title button:hover {
  color: #545B6B;
}

.modales_seguimiento {
  position: relative;
  margin-bottom: 10rem;
}

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */
}

/**Servicos VIP index*/

.contenido {
  position: absolute;
  letter-spacing: 0.2rem;
  text-align: justify;
  font-size: 2rem;
}

.img_hero {
  width: 100%;
  padding: 5rem;
  margin-left: 5rem;
}

.img_hero img {
  width: 100%;
  height: 70vh;
}

.contenido_hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.hero ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .boton {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--blanco);
  background: var(--opcional);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
}

.hero .boton:hover {
  background: yellowgreen;
  color: #545B6B;
}

/**INDEX-DESCUENTOS PERSONALIZADOS*/

.descuento {
  position: relative;
  font-family: 'Questrial', sans-serif;
  color: var(--texto);
}

.container-all {
  display: flex !important;
  position: relative;
  width: 100%;
  font-size: 2.1rem;
  text-align: justify;
  line-height: 4.5rem;
}

.content {
  margin: auto 5rem;
  width: 80rem;
}

.title_centrado h1 {
  text-align: center;
  display: flex;
}

/*.background-img {
  background-image: url(/webPage/assets/img_prueba/img-antes.jpg);
}

.foreground-img {
  background-image: url(/webPage/assets/img_prueba/img-despues.jpg);
  width: 50%;
}

.slider {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(#f2f2f2, .3);
  outline: none;
  margin: 0;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider:hover {
  background: rgba(#f2f2f2, .1);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 6px;
  height: 600px;
  background: white;
  cursor: pointer;
}

.slider-button {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  left: calc(50% - 18px);
  top: calc(50% - 18px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button:after {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
}

.slider-button:before {
  content: '';
  padding: 3px;
  display: inline-block;
  border: solid #5D5D5D;
  border-width: 0 2px 2px 0;
  transform: rotate(135deg);
}*/

/* Comentarios */

#Especialistas {
  /* background: var(--background); */
  height: 55rem;
  display: flex;
  align-items: center;
}

#Especialistas h1 {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 4rem;
  color: var(--opcional);
  font-weight: 400;
  line-height: 2;
  letter-spacing: .6rem;
  margin: 1rem;
}

#Especialistas h2 {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 2rem;
  color: var(--texto);
  margin: 2rem;
}

.col {
  text-align: center;
  margin: 5rem;
}

.svg {
  width: 100%;
  max-height: 15rem;
  margin-bottom: 2rem;
}

.counter {
  font-size: 2.5rem;
  margin: 3rem 3rem 1rem 3rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--opcional);
  border-radius: 2.5rem;
}

/* Carro */

#Comentarios h1 {
  margin: 0;
  padding: 2.5rem;
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-size: 4rem;
  color: var(--opcional);
  background-color: #2a2a2a;
}

.Carro {
  position: relative;
  background-color: #2a2a2a;
  /* rgb(33, 36, 33); */
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Ventana {
  overflow: hidden;
  width: 100%;
  padding: 0.8rem;
}

.project-container {
  left: 0;
  position: relative;
  width: 400rem;
}

.project-container li {
  display: inline-block;
}

.project-container button {
  background: none;
  border: none;
  padding: 0;
}

.project-container button:focus-within {
  outline: 0.3rem solid var(--opcional);
}

.project-face {
  /* border-radius: 5px;
  border: 2px solid #000; */
  display: block;
  height: 20rem;
  margin: 0 0.8rem;
  transition: all 0.2s ease-in-out;
  /* width: 400px; */
  object-fit: cover;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.arrow {
  margin: 2rem;
  height: 6.5rem;
  transition: all 0.2s ease-in-out;
  width: 7rem;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow-left {
  background: center / contain no-repeat url(../assets/img/play-button-left.png);
  background-color: var(--opcional);
  border-radius: 70%;
}

.arrow-right {
  background: center / contain no-repeat url(../assets/img/play-button-right.png);
  background-color: var(--opcional);
  border-radius: 50%;
}

.arrow:focus {
  outline: 0.3rem solid var(--opcional);
}

.ubicacion iframe {
  display: flex;
  width: 100%;
  height: 30rem;
}

/* Redes */

#check {
  display: flex;
}

.main, .contain {
  margin: auto;
  position: fixed;
  /* fixed */
  top: 62rem;
  bottom: 0;
  left: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.main {
  background-color: #00BB2D;
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35);
  cursor: pointer;
  z-index: 50;
  margin-bottom: 1rem;
}

.main:hover {
  background-color: var(--principal);
}

.main:active {
  box-shadow: 0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.35), inset 0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.35);
  background-color: var(--opcional);
}

.main .first {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  font-size: 4em;
  line-height: 8rem;
  text-align: center;
  color: white;
}

.first a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.main .first:hover {
  color: #fafafa;
}

.contain {
  width: 4% !important;
  z-index: 10;
}

.plate {
  margin: auto;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  bottom: 2.5rem;
  left: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.plate i {
  width: 100%;
  font-size: 1.3em;
  line-height: 3.5rem;
  text-align: center;
  color: #faf4f2;
}

.plate:hover i {
  color: var(--opcional);
}

.plate {
  background-color: var(--texto);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

#check:checked~.main+.contain .plate {
  opacity: 1;
}

#check:checked~.main+.contain .plate:nth-of-type(1) {
  top: -180%;
}

#check:checked~.main+.contain .plate:nth-of-type(2) {
  top: -60%;
  right: -130%;
}

#check:checked~.main+.contain .plate:nth-of-type(3) {
  right: -130%;
  bottom: -60%;
}

#check:checked~.main+.contain .plate:nth-of-type(4) {
  bottom: -180%;
}

#contacto .col-md-6 {
  margin: 1rem;
}

/* footer */

.footer-style {
  padding-top: 1rem;
  background-color: var(--background);
}

footer {
  color: var(--opcional);
}

footer h3 {
  margin-bottom: 1rem;
  font-weight: 800;
}

footer .footer-above {
  padding-top: 1rem;
  background-color: var(--background);
}

footer .footer-col {
  margin-bottom: 1rem;
}

footer .footer-below {
  padding: 2.5rem 0;
  background-color: var(--background);
}

.list-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10rem;
}

.list-inline a {
  font-size: 2rem;
  color: var(--opcional);
}

/* Nuestros servicios */

.tarjeta_i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.tarjeta_i .icono_cliente-scania {
  height: 30vh;
}

.card_i {
  height: 50vh;
  border: 1px solid transparent !important;
}

.card_i:hover {
  border: 0.4rem var(--opcional) solid !important;
}

.card-title {
  margin-bottom: 5rem !important;
}

.tarjeta img {
  display: block;
  block-size: auto;
  width: 34rem;
  margin: -2rem;
}

.colu .col {
  align-items: center;
}

.card {
  width: 30rem;
}

.card .imagen {
  position: relative;
  height: 15rem;
  width: 15rem;
  left: 18%;
  margin: 2rem;
}

.rounded-circle:hover {
  border: 0.4rem var(--opcional) solid;
  box-shadow: .2rem .2rem .2rem .2rem var(--texto);
}

.modal-title {
  font-size: 2.3rem;
  color: var(--opcional);
}

.modal-body p {
  font-size: 1.5rem;
}

.modal-header {
  background-color: rgb(84, 91, 107, 0.2);
}

.modal-footer button {
  font-size: 1.6rem;
}

.col-md, .col-auto {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.lead_reparaciones {
  margin-left: 10rem;
}

.col-md .lead_reparaciones ul {
  padding: 0;
  list-style: none;
}

.featurette-heading {
  margin-left: 10rem;
}

/**Css Servicos*/

.servicios-all {
  margin-top: 5rem;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.card-text {
  font-size: 1.5rem;
}

.texto-abajo {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0 !important;
}

.info-nosotros p {
  color: var(--texto);
  text-align: justify;
}

.titulo h1 {
  font-size: 3.5rem;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.servicios {
  margin: 5rem auto;
}

.container-fluit, .col-4 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

/** Css Registro*/

main {
  max-width: 100%;
  width: 100%;
}

.banner {
  display: flex;
  position: relative;
}

.banner h1 {
  display: flex;
  flex-direction: column;
  color: var(--blanco);
  position: absolute;
  top: 30%;
  left: 33%;
  text-transform: uppercase;
  font-size: 5rem;
}

.banner .img1 {
  display: block;
  width: 100%;
}

.img2 {
  display: block;
  position: absolute;
  top: 70%;
  left: 45%;
  height: 12rem;
  padding: 1.5rem;
  /**box-shadow: inset 0rem 0rem 8rem 1rem rgba(0, 0, 0);*/
  border: none;
  /*border-radius: 50%;*/
}

.formulario_card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.card_title h2 {
  font-size: 2.7rem;
}

.formulario {
  background-color: rgb(84, 91, 107, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  margin: 1rem 20rem;
  padding: 2rem;
  border-radius: 2rem;
}

/**el label del formilario esta en comentaios por lo tanto el css no se usa*/

.formulario_label {
  display: block;
  /**Ocupe el 100% de espacio disponible*/
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
  /*Para poder darle clic*/
}

.formulario_grupo-input {
  position: relative;
  /**Le indicamos que tenga un posicion relativa, con esto los iconos de error y correcto pueden ir sobre el input*/
  display: flex;
}

.formulario_input {
  width: 100%;
  /*Ancho del 100% para que abarque todo el espacio disponible*/
  background: #fff;
  border: 0.3rem solid transparent;
  /**La intencion es que se vea cuando tiene su estado focus*/
  border-radius: 0.3rem;
  height: 4rem;
  line-height: 4.5rem;
  /**Altura de linea de esta forma nos aseguramos que el texto quede centrado*/
  padding: 0rem 4rem 0rem 1rem;
  transition: .3s ease all;
  font-size: 1.5rem!important;
}

.formulario_input::placeholder {
  color: var(--negro);
  font-weight: 600;
}

.formulario_input:focus {
  border: 0.3rem solid #0075ff;
  outline: none;
  /**Quita una linea que agrega el navegador*/
  box-shadow: .3rem 0rem 3rem rgb(163, 163, 163, 0.4);
}

.formulario_input-error {
  color: var(--blanco);
  font-size: 1.2rem;
  margin-bottom: 0;
  /**generalmente a los Parrafos agrega un margen*/
  display: none;
  /** Solo los voy a mostrar cuando cuando el usuario tenga algun error en el input*/
  margin-left: .5rem;
}

.formulario_input-error-activo {
  /**quiere decir que cuando el error del input este activo el mensaje de muestre*/
  display: block;
}

.formulario_nombres {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/**Se comenta porque ya se le da ancho en los @Media*/

/*
.formulario_nombres input {
  width: 48rem;
}*/

.formulario_validacion-estado {
  position: absolute;
  right: 1rem;
  bottom: 1.2rem;
  z-index: 100;
  /*Para asegurar que va a estar por arriba de otro elementos*/
  font-size: 1.6rem;
  opacity: 0;
  /**Para que de esta forma no se muestre, solomnete se muestre cuando hay error*/
}

.nota {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: justify;
}

.checkbox {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--blanco);
}

.formulario_checkbox {
  margin-right: 1rem;
}

.formulario_mensaje {
  font-size: 1.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  background: #F66060;
  padding: 0rem 1.5rem;
  border-radius: .3rem;
  display: none;
  /*quiero que aparesca en ciertos momentos*/
  margin-bottom: 1rem;
}

.formulario_mensaje-activo {
  display: block;
}

.formulario_mensaje p {
  margin: 0;
}

.formulario_grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario_btn {
  height: 4.5rem;
  line-height: 4.5rem;
  width: 20%;
  background: #FFFFFF;
  color: var(--opcional);
  font-weight: 600;
  font-size: 1.8rem;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  /**para que el usuario sepa que le puede dar clic*/
  transition: .1s ease all;
}

.formulario_btn:hover {
  background: yellowgreen;
  color: #545B6B;
}

.formulario_mensaje-exito {
  margin-top: .5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  background: rgb(255, 255, 255, 0.3);
  color: #119200;
  display: none;
  /**Solo que se muestre que todo esta correcto*/
}

.formulario_mensaje-exito-activo {
  display: block;
}

/*** Estilos para validación  ***/

.formulario_grupo-correcto .formulario_validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
  color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
  border: .3rem solid #bb2929;
}

/*Css Sobre Nosotros*/

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  background: lightgray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor_galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, 23rem);
  /**asignamos las columnas "auto-fit"para tomar todo el espacio disponible y "15rem" para indicarle el tamañano*/
  grid-auto-rows: 20rem;
  /**definir el tamaño de cada fila*/
  width: 90%;
  /**asignamos un ancho a la clase padre*/
  justify-content: center;
  /**Para centra el contenido dentro*/
  gap: 1.5rem;
  /**Espacio entre los elementos*/
  /*max-width: 1200px;*/
  margin: 20rem auto;
  /**Definimos una margen para cada lado automatica*/
  grid-auto-flow: dense;
}

.contenedor_galeria-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 23rem);
  /**asignamos las columnas "auto-fit"para tomar todo el espacio disponible y "15rem" para indicarle el tamañano*/
  grid-auto-rows: 20rem;
  /**definir el tamaño de cada fila*/
  width: 90%;
  /**asignamos un ancho a la clase padre*/
  justify-content: center;
  /**Para centra el contenido dentro*/
  gap: 8rem;
  /**Espacio entre los elementos*/
  /*max-width: 1200px;*/
  margin: 1rem auto;
  /**Definimos una margen para cada lado automatica*/
  grid-auto-flow: dense;
}

.contenedor_galeria-2 p {
  text-align: center;
  font-weight: 600;
  font-size: 2rem !important;
}

.contenedor_galeria-2 .featurette-divider {
  margin: 2rem auto !important;
}

.contenedor_galeria-2 hr {
  border-top: 1px solid rgba(0, 0, 0, .3);
}

.item, .item_g {
  /*grid-column: span 2; /**266px + 10px = 274px*/
  /**Le decimos que tome dos columnas*/
  transition: 0.5s filter;
}

.item_g {
  grid-row: span 2;
  grid-column: span 2;
}

.item:hover, .item_g:hover {
  filter: brightness(0.5);
  /**Filtro de brillo*/
}

.item:nth-of-type(2n + 1) {
  grid-row: span 2;
}

.item_g img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  background: lightgray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-fluid {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.container-fluid p {
  font-size: 1.5rem;
}

/**Css Contactenos*/

.contenido_c h1 {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.backgroud {
  background-image: url("/assets/img/IMG_1176.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenido_c {
  display: flex;
  flex-direction: column;
  font-size: 2.1rem;
  text-align: justify;
  line-height: 4rem;
  color: var(--blanco);
  width: 50%;
}

.contenido_VIP {
  display: flex;
  flex-direction: column;
  font-size: 2.1rem;
  text-align: justify;
  line-height: 4.5rem;
}

.all_contenido {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5rem auto;
}

.grupo_contenido {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 2rem 3rem;
  text-align: center;
}

.grupo_contenido figure{
  text-align: -webkit-center;
}

.iconos-contacto {
  margin: 1rem auto 5rem auto;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.all_contenido hr {
  border: none;
  border-left: .1rem solid rgb(0, 0, 0, .3);
  height: 50vh;
  width: 5rem;
}

.all_contenido h2 {
  text-align: center;
}

.all_contenido p {
  font-size: 1.5rem;
  text-align: -webkit-center;
}

.info-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--principal);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.grupo_contenido .boton {
  color: var(--blanco);
  background: var(--opcional);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grupo_contenido .boton:hover {
  background: yellowgreen;
  color: #545B6B;
}

/* Responsive */

@media (min-width: 200px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading, .title h1, .titulo h1 {
    font-size: 3rem !important;
  }
}

@media (max-width:480px) {
  /**INDEX*/
  .container-all {
    margin-left: -3em !important;
  }
  .modales_seguimiento {
    width: 100%;
    margin: auto;
  }
  .container {
    padding-left: 0 !important;
  }
  .col-lg-2 {
    padding-left: 0 !important;
  }
  .title h1 {
    display: flex;
    justify-content: center;
  }
  .title a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formulario {
    display: flex;
    flex-direction: column;
  }
  .formulario_btn {
    width: 100%;
  }
  .formulario_grupo {
    margin-bottom: .2rem !important;
  }
  .twentytwenty-container {
    margin: 3rem 0 auto 7rem !important;
  }
  .contenido_VIP, .container-all {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
  }
  .lead {
    font-size: 1.5rem;
  }
  .lead_reparaciones {
    margin-left: 10rem !important;
    text-align: start !important;
  }
  .descuento .title {
    margin-left: 10rem !important;
  }
  /**REGISTRO*/
  .formulario_nombres input {
    width: 100% !important;
  }
}

@media (min-width:480px) {
  .lead_reparaciones {
    margin: auto 5rem;
  }
}

@media (max-width: 576px) {
  .tooltip_i {
    position: static;
    opacity: 1;
    width: 100%;
    transform: translate(0);
  }
  .tooltip_i::after {
    border-bottom: .7rem solid transparent !important;
  }
  figure {
    text-align: center;
  }
  .tooltip_i::after {
    content: "";
    position: absolute;
    border-top: none;
    border-bottom: .7rem solid var(--principal);
    bottom: auto;
    top: -.6rem;
    left: calc(50% - .7rem);
  }
  .descuento {
    margin-bottom: 8rem !important;
  }
  /**Contacto*/
  .contenido_c {
    padding: .5rem;
    line-height: 3rem;
    width: 90%;
  }
  .contenido_c h1 {
    font-size: 3rem;
  }
}

@media (min-width: 576px) {
  .col-sm {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 620px) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 768px) {
  /**INDEX*/
  .modales_seguimiento {
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;
  }
  figcaption .tooltip_i {
    font-size: 12px;
  }
  .carro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row {
    justify-content: center;
  }
  .img_hero {
    margin-left: 0;
  }
  .img_hero img {
    display: flex;
    align-items: center;
    width: 70%;
    height: 50vh;
    margin: auto;
  }
  .twentytwenty-container {
    width: 70%;
    margin: 0 auto;
  }
  .title_centrado h1 {
    margin: auto;
  }
  /**DISPOSITIVOS MOVILES para Srobre Nosotros*/
  .logo {
    padding-left: 25px;
  }
  .ham {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
  }
  .enlaces-menu {
    margin-top: 5rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    padding: 0;
    width: 100%;
    display: none;
    opacity: 0;
  }
  .enlaces-menu li {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  .enlaces-menu a {
    text-align: center;
    padding: 0;
    justify-content: center;
  }
  .header .boton {
    height: 10%;
    width: 80%;
    font-weight: 600;
    font-size: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header li:hover {
    border-radius: 0;
  }
  /**Espesialistas*/
  #Especialistas .col {
    width: 60px;
    margin: 0;
  }
  .row {
    margin-right: 0 !important;
  }
  .counter {
    margin: 0;
  }
  .svg {
    justify-content: center;
    align-items: center;
  }
  .dedo_arriba {
    width: 77%;
  }
  .taza {
    width: 87%;
  }
  #Especialistas h1 {
    margin: 0;
  }
  /**Registro*/
  .banner .img2 {
    display: none;
  }
  .banner h1 {
    display: none;
  }
  .formulario {
    margin-bottom: 60rem !important;
    width: 80%;
    height: 107rem !important;
    margin: auto 5rem;
  }
  .formulario_btn {
    width: 100%;
  }
  .formulario_input {
    margin-bottom: .2rem;
  }
  .Carro button {
    display: flex;
  }
  .formulario_grupo {
    margin: 1.5rem;
  }
  .formulario_validacion-estado {
    position: absolute;
    bottom: 1.5rem !important;
  }
  /**SERVICIOS*/
  .servicios .row {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .servicios .col-4 {
    width: 30rem !important;
    max-width: none !important;
  }
  .servicios .col-sm {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    justify-items: center;
  }
  .servicios .card-body {
    text-align: justify;
  }
  /**CONTACTENOS*/
  .backgroud {
    flex-direction: column;
  }
  .all_contenido {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: auto 20%;
  }
  .grupo_contenido {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 1rem auto;
  }
  .contenido {
    margin: auto 1rem;
    text-align: center;
    line-height: 3rem;
  }
  .all_contenido hr {
    border: .1rem solid rgb(0, 0, 0, .3);
    height: 0;
    width: 100%;
  }
  .iconos-contacto {
    text-align: center;
    margin: 1rem 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .grupo_contenido figure {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1280px) {
  /**Index*/
  .twentytwenty-container {
    width: 80%;
    margin-left: auto;
  }
  .twentytwenty-container img {
    height: 40vh;
  }
  /**Registro*/
  .formulario {
    height: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15rem;
    padding: 1rem;
  }
  .formulario_nombres {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .formulario_nombres input {
    width: 120rem;
  }

  .formulario_grupo-input {
    margin-bottom: .2rem;
  }
  .formulario_validacion-estado {
    position: absolute;
    bottom: 1rem;
  }
  .formulario_grupo {
    margin-bottom: 1.5rem;
  }
  .formulario_grupo p {
    margin-left: .5rem;
  }
  .formulario_btn {
    width: 70%;
  }
  /**Sobre Nosotros*/
  .contenedor_galeria-2 {
    gap: 10rem;
  }
}

@media (min-width: 1281px) {
  .formulario_nombres input {
    width: 42rem;
  }
}

@media (min-width: 1400px) {
  .formulario_nombres input {
    width: 48rem;
  }
  .img2 {
    display: inline-block;
    position: absolute;
    top: 75%;
    left: 45.5%;
    /**box-shadow: inset 0rem 0rem 8rem 1rem rgba(0, 0, 0);*/
    border: none;
    /*border-radius: 50%;*/
  }
  .banner h1 {
    position: absolute;
    top: 33%;
    left: 35%;
  }
}

@media (min-width: 1500px){
  .formulario_nombres input {
    width: 52rem;
  }
}

@media (min-width: 1600px) {
  .formulario_nombres input {
    width: 47rem;
  }
  .formulario {
    margin: 2rem 30rem;
  }
  .img2 {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 46%;
    /**box-shadow: inset 0rem 0rem 8rem 1rem rgba(0, 0, 0);*/
    border: none;
    /*border-radius: 50%;*/
  }

  .banner h1 {
    position: absolute;
    top: 38%;
    left: 37%;
  }
}

@media (min-width: 1700px) {
  .formulario_nombres input {
    width: 52rem;
  }
}

@media (min-width: 1800px){
  .formulario_nombres input {
    width: 57rem;
  }
}

@media (min-width: 1950px) {
  .formulario {
    margin: 2rem 35rem;
  }
  .formulario_nombres input {
    width: 60rem;
  }

  .banner h1 {
    position: absolute;
    top: 40%;
    left: 40%;
  }
}

/**COMENTARIOS
@media(max-width: 480px){
  .Carro button{
    display: flex;
  }
}*/

/**REGISTRO*/